06-Web Services - JAX WS/jaxws/jaxws-web/src/main/resources/ActorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.jaxws.javaee.training.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.jaxws.javaee.training.com/" name="ActorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.jaxws.javaee.training.com/" schemaLocation="http://localhost:8080/jaxws-webservices/ActorWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getActor">
<part name="parameters" element="tns:getActor"/>
</message>
<message name="getActorResponse">
<part name="parameters" element="tns:getActorResponse"/>
</message>
<message name="consultar">
<part name="parameters" element="tns:consultar"/>
</message>
<message name="consultarResponse">
<part name="parameters" element="tns:consultarResponse"/>
</message>
<message name="crearActor">
<part name="parameters" element="tns:crearActor"/>
</message>
<message name="crearActorResponse">
<part name="parameters" element="tns:crearActorResponse"/>
</message>
<message name="guardarActor">
<part name="parameters" element="tns:guardarActor"/>
</message>
<message name="guardarActorResponse">
<part name="parameters" element="tns:guardarActorResponse"/>
</message>
<portType name="WebserviceActor">
<operation name="getActor">
<input wsam:Action="http://webservices.jaxws.javaee.training.com/WebserviceActor/getActorRequest" message="tns:getActor"/>
<output wsam:Action="http://webservices.jaxws.javaee.training.com/WebserviceActor/getActorResponse" message="tns:getActorResponse"/>
</operation>
<operation name="consultar">
<input wsam:Action="http://webservices.jaxws.javaee.training.com/WebserviceActor/consultarRequest" message="tns:consultar"/>
<output wsam:Action="http://webservices.jaxws.javaee.training.com/WebserviceActor/consultarResponse" message="tns:consultarResponse"/>
</operation>
<operation name="crearActor">
<input wsam:Action="http://webservices.jaxws.javaee.training.com/WebserviceActor/crearActorRequest" message="tns:crearActor"/>
<output wsam:Action="http://webservices.jaxws.javaee.training.com/WebserviceActor/crearActorResponse" message="tns:crearActorResponse"/>
</operation>
<operation name="guardarActor">
<input wsam:Action="http://webservices.jaxws.javaee.training.com/WebserviceActor/guardarActorRequest" message="tns:guardarActor"/>
<output wsam:Action="http://webservices.jaxws.javaee.training.com/WebserviceActor/guardarActorResponse" message="tns:guardarActorResponse"/>
</operation>
</portType>
<binding name="WebserviceActorPortBinding" type="tns:WebserviceActor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ActorWS">
<port name="WebserviceActorPort" binding="tns:WebserviceActorPortBinding">
<soap:address location="http://localhost:8080/jaxws-webservices/ActorWS"/>
</port>
</service>
</definitions>